################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SAE5
/Apps/SAE5.Win/bin
/Apps/SAE5.Win/obj
/Ravlyk.Adopted/OpenXmlPackaging/bin
/Ravlyk.Adopted/OpenXmlPackaging/obj
/Ravlyk.Adopted/PdfSharp/bin
/Ravlyk.Adopted/PdfSharp/obj
/packages
/Ravlyk/Ravlyk.Common/bin
/Ravlyk/Ravlyk.Common/obj
/Ravlyk/Ravlyk.Drawing/bin
/Ravlyk/Ravlyk.Drawing/obj
/Ravlyk/Ravlyk.Drawing.ImageProcessor/bin
/Ravlyk/Ravlyk.Drawing.ImageProcessor/obj
/Ravlyk.Adopted/Ravlyk.Adopted.TrueTypeSharp/bin
/Ravlyk.Adopted/Ravlyk.Adopted.TrueTypeSharp/obj
/Ravlyk.SAE/Ravlyk.SAE.Drawing/bin
/Ravlyk.SAE/Ravlyk.SAE.Drawing/obj
/Ravlyk.SAE/Ravlyk.SAE.Resources/bin
/Ravlyk.SAE/Ravlyk.SAE.Resources/obj
/Ravlyk.UI/Ravlyk.Drawing.WinForms/bin
/Ravlyk.UI/Ravlyk.Drawing.WinForms/obj
/Ravlyk.UI/System.Windows.Forms.Ribbon/bin
/Ravlyk.UI/System.Windows.Forms.Ribbon/obj
/Tests/Ravlyk.Common.Test/bin
/Tests/Ravlyk.Common.Test/obj
/Tests/Ravlyk.Drawing.ImageProcessor.Test/bin
/Tests/Ravlyk.Drawing.ImageProcessor.Test/obj
/Tests/Ravlyk.Drawing.Test/bin
/Tests/Ravlyk.Drawing.Test/obj
/Tests/Ravlyk.SAE.Drawing.Test/bin
/Tests/Ravlyk.SAE.Drawing.Test/obj
/Tools/ImageConverter/bin
/Tools/ImageConverter/obj
/Tools/PaletteFileEditor/bin
/Tools/PaletteFileEditor/obj
/Apps/SAE5.Win/.vs
/Ravlyk/Ravlyk.Common/.vs
/Ravlyk/Ravlyk.Drawing/.vs
/Ravlyk/Ravlyk.Drawing.ImageProcessor/.vs
/Ravlyk.Adopted/OpenXmlPackaging/.vs
/Ravlyk.Adopted/PdfSharp/.vs
/Ravlyk.Adopted/Ravlyk.Adopted.TrueTypeSharp/.vs
/Ravlyk.SAE/Ravlyk.SAE.Drawing/.vs
/Ravlyk.SAE/Ravlyk.SAE.Resources/.vs
/Ravlyk.UI/Ravlyk.Drawing.WinForms/.vs
/Ravlyk.UI/System.Windows.Forms.Ribbon/.vs
/Tests/Ravlyk.Common.Test/.vs
/Tests/Ravlyk.Drawing.ImageProcessor.Test/.vs
/Tests/Ravlyk.Drawing.Test/.vs
/Tests/Ravlyk.SAE.Drawing.Test/.vs
/Tools/ImageConverter/.vs
/Tools/PaletteFileEditor/.vs
/Setup/Output
