<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Ravlyk.SAE.Drawing.Properties.GridPainterSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Ravlyk.SAE.Drawing.GridPainterSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Ravlyk.SAE.Drawing.Properties.SAEWizardSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Ravlyk.SAE.Drawing.Properties.GridPainterSettings>
            <setting name="CellSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="ShowRulers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowLines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LineArgb" serializeAs="String">
                <value>176, 232, 232</value>
            </setting>
            <setting name="Line10Argb" serializeAs="String">
                <value>40, 136, 232</value>
            </setting>
            <setting name="PaintMode" serializeAs="String">
                <value />
            </setting>
            <setting name="PrintCellSize" serializeAs="String">
                <value>3.0</value>
            </setting>
            <setting name="NumbersArgb" serializeAs="String">
                <value>SteelBlue</value>
            </setting>
            <setting name="Line5Argb" serializeAs="String">
                <value>108, 184, 232</value>
            </setting>
            <setting name="Line10DoubleWidth" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PaletteOrderMode" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectionArgb1" serializeAs="String">
                <value>192, 255, 255</value>
            </setting>
            <setting name="SelectionArgb2" serializeAs="String">
                <value>Blue</value>
            </setting>
        </Ravlyk.SAE.Drawing.Properties.GridPainterSettings>
        <Ravlyk.SAE.Drawing.GridPainterSettings>
            <setting name="CellSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="ShowRulers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowLines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LineArgb" serializeAs="String">
                <value>176, 232, 232</value>
            </setting>
            <setting name="Line10Argb" serializeAs="String">
                <value>40, 136, 232</value>
            </setting>
            <setting name="PaintMode" serializeAs="String">
                <value />
            </setting>
        </Ravlyk.SAE.Drawing.GridPainterSettings>
        <Ravlyk.SAE.Drawing.Properties.SAEWizardSettings>
            <setting name="ResizeWidth" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="ResizeHeight" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="PaletteName" serializeAs="String">
                <value>DMC</value>
            </setting>
            <setting name="MaxColors" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="KeepAspect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DitherLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColorComparisonType" serializeAs="String">
                <value>Visual</value>
            </setting>
            <setting name="ResizeFilterType" serializeAs="String">
                <value>Lanczos3</value>
            </setting>
            <setting name="EnsureBlackAndWhiteColors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SymbolsFontName" serializeAs="String">
                <value>Ravlyk.Znaky.2</value>
            </setting>
            <setting name="SymbolsFontIncludeNumbers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SymbolsFontIncludeLetters" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SymbolsFontIncludeSymbols" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SymbolsFontLastUsedSymbols" serializeAs="String">
                <value />
            </setting>
        </Ravlyk.SAE.Drawing.Properties.SAEWizardSettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
