<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Ravlyk.SAE5.WinForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <Ravlyk.SAE5.WinForms.Properties.Settings>
      <setting name="LastOpenFiles" serializeAs="String">
        <value/>
      </setting>
      <setting name="Locale" serializeAs="String">
        <value/>
      </setting>
      <setting name="ManiFormState" serializeAs="String">
        <value>Maximized</value>
      </setting>
      <setting name="SchemeSplitterMainPosition" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="SchemeSplitterInfoPosition" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="SchemeInfoVisible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SchemePaletteCompactMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PrintPageMargins" serializeAs="String">
        <value>50, 50, 50, 100</value>
      </setting>
      <setting name="UserEmail" serializeAs="String">
        <value/>
      </setting>
      <setting name="UserKey" serializeAs="String">
        <value/>
      </setting>
      <setting name="TrialStartDate" serializeAs="String">
        <value/>
      </setting>
      <setting name="UpdateSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PrintPageLandscape" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UserPalettesLocation" serializeAs="String">
        <value/>
      </setting>
      <setting name="CheckForUpdatesAtStartup" serializeAs="String">
        <value>True</value>
      </setting>
    </Ravlyk.SAE5.WinForms.Properties.Settings>
  </userSettings>
</configuration>
